@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Noto Sans', sans-serif;
  /* font-family: 'Teko', sans-serif;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Russo One', sans-serif;
  font-family: 'Bebas Neue', sans-serif; */
}

html {
	scroll-behavior: smooth;
	background-color: "white!important"
}

* {
	@apply transition-colors duration-300;
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-gradient-animated {
  background: linear-gradient(
    to right,
    #9ea1f1,
    #0104cf,
    #0003A4,
    #000260,
    #0003A4,
    #0104cf,
    #9ea1f1,
    #0104cf,
    #0003A4,
    #000260
  );
  background-size: 300% 300%;
  animation: animatedGradient 8s ease infinite;
  color: white;
  border: none;
}

.neonborder {
  box-shadow: 0 0 15px #0104cf, inset 0 0 15px #0104cf;
}

.gradient-text {
	background: linear-gradient(
		to right,
		#9ea1f1, /* bluetheme-50 */
		#0104cf, /* bluetheme-500 */
		#0003A4, /* bluetheme-700 */
		#000260, /* bluetheme-900 */
		#0003A4, /* volta pra cima */
		#0104cf,
		#9ea1f1,
		#0104cf,
		#0003A4,
		#000260
	);
	background-clip: text;
	background-size: 300% 300%;
}

.line-clamp-custom {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}